<div class="container center" id = "main">
  <pb-breadcrumbs></pb-breadcrumbs>
  <div class="page-area">

      <pb-article>
          <h2>Stay on track</h2>
          <div>
              Do you know where you are spending your money? If you really stop to track it down,
              you would get surprised! Proper budget management depends on real data... and this
              app will help you with that!
          </div>
      </pb-article>

      <pb-article>
          <h2>Alerts</h2>
          <div>
              What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
          </div>
      </pb-article>

      <pb-article>
          <h2>Results</h2>
          <div>
              People who stick to a financial plan, budgeting every expense, get out of debt faster!
              Also, they to live happier lives... since they expend without guilt or fear...
              because they know it is all good and accounted for.
          </div>
      </pb-article>

      <!-- This is an SEO Change : 3. Removed duplicate content - to prevent further google filtering in search results-->

      <!-- This is an SEO Change : 4. Adding important keywords to get more search results - Relevant keywords found from moz.com-->

      <pb-article>
          <h2>Software</h2>
          <div>
              Personal budget software will help you make a personal cash budget.
              Instead of making a weekly or monthly budget in excel you can use this app and not
              fret about the strategies in personal budgeting or figure out what all are included.
          </div>
      </pb-article>


      <div class="pieChart">
          <h2>Chart</h2>
          <p>
              <canvas id="myChart" width="400" height="400"></canvas>
          </p>
      </div>

      <div class="D3Chart" id="d3Chart">
          <h2>D3 Pie Chart</h2>
          <pb-donut-chart></pb-donut-chart>
      </div>

  </div>

</div>

<!-- This is a Semantic HTML Change : 3. added a summary-->
<details class="summary-box">
  <summary>Please Note:</summary>
  <p>This application is still under development hence the website is not fully updated.</p>
</details>


